@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Roboto" "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Courier New", monospace, sans-serif;

  /* Color Palette */

  --primary-color-tint3: #568a6c;
  --primary-color-tint2: #477158;
  --primary-color-tint1: #375845;
  --primary-color: #253b2e;
  --primary-color-shade1: #1f3227;
  --primary-color-shade2: #18261d;

  --secondary-color-tint2: #e0ddcc;
  --secondary-color-tint1: #d8d4c0;
  --secondary-color: #cfcab1;
  --secondary-color-shade1: #c1ba9a;
  --secondary-color-shade2: #b1a981;
  --secondary-color-shade3: #a29867;

  --text: #141414;
  --text1: #1f1f1f;
  --text2: #292929;
  --text3: #333;
  --text4: #3d3d3d;
  --text5: #474747;

  --text-lightest: #fff;
  --text-lighter: #eee;
  --text-light: #ddd;

  --light: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text3);
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
}

h1 {
  font-size: clamp(4rem, 10vw, 7rem);
}

h2 {
  font-size: clamp(3.5rem, 8vw, 6rem);
}

h3 {
  font-size: clamp(3rem, 6vw, 5rem);
}

h4 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h5 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

p,
a,
button,
ul,
ol,
span {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.alt-textStyle {
  font-family: "Mukta", sans-serif;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.btn-primary {
  color: var(--text-light);
  background-color: var(--primary-color);
  padding: 0.75rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 7px 3px var(--light);
}

.btn__dark-shadow {
  box-shadow: 0 0 7px 3px var(--text5);
}

.center {
  text-align: center;
}

.page-wrapper {
  max-width: 1400px;
  margin-inline: auto;
}

/* Nav Bar */

nav {
  margin-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 2px solid var(--text2);
  display: flex;
}

.nav-links_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-link {
}

.nav-dropdown {
  position: relative;
}

.nav-link__dropdown {
  position: absolute;
  display: none;
}

/* Page Header */

.pageHeader {
  position: relative;
  width: 100vw;
  height: 50vh;
  min-height: 400px;
  isolation: isolate;
}

.pageHeader h2 {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem 12rem;
  background-color: #eeeeeec7;
  z-index: 10;
}

.pageHeader div {
  width: 100%;
  height: 100%;
}

.pageHeader div > img {
  object-fit: cover;
  object-position: center;
}

/* Beer Carousel */

.beer-current * {
  opacity: 1 !important;
  transform: translateY(0%) scale(1) !important;
}

.beer-queued {
  opacity: 0;
}

.beer-next {
  opacity: 0;
}

.practice {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

.practice-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: var(--primary-color-shade1);
  padding: 2rem;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.473);
}

.practice-box:last-child {
  opacity: 0;
}

.practice-text {
  color: white;
  margin-bottom: 2rem;
}

.practice-text:first-child {
  text-align: center;
}

.practice-pill {
  width: 100px;
  height: 150px;
  border-radius: 100vw;
  overflow: hidden;
  margin-inline: auto;
}

.practice-img_container {
  display: flex;
  justify-content: center;
}

.practice-img {
  object-fit: cover;
}

.prac-icons_container {
  display: flex;
  gap: 2rem;
}

.prac-icons__container {
  display: inline-block;
  margin-bottom: 10rem;
}

.prac-arrow {
  font-size: 4rem;
  cursor: pointer;
  color: var(--primary-color);
}
